html{
			font-size: 100px;
		}
		body{
			width: 7.5rem;
			height: 100%;
			background: url(../img/datu/bg_2@2x.png) 0 0 no-repeat;
			background-size: 100% 100%;
		}
		.outer{
			width: 7.5rem;	
		}
		.head{
			height: 0.88rem;
			text-align: center;
			font-size: 0.34rem;
			color: #fff;
			line-height: 0.88rem;
			background: url(../img/denglu/bg_1@2x.png) 0 0 no-repeat;
			background-size: 100%;
			position: relative;
		}
		#hui{
			width: 0.24rem;
			height: 0.41rem;
			background: url(../img/denglu/btn_3_n@2x.png) 0 0 no-repeat;
			background-size: 100%;
			position: absolute;
			left: 0.2rem;
			top: 0.23rem;
		}
		.con{
			width: 7.5rem;
			padding-bottom: 0.5rem;
			border-bottom: 0.01rem solid #313131;
		}
		.con-hidden{

			margin-bottom: 2.4rem;
			height: 4.4rem;
			width:7.5rem;
		}
		
		.con-img{
			width: 7.5rem;
			height: 4.4rem;
			background-color: red;
		}
		.tu{
		width: 7.5rem;
			height: 4.4rem;
		}
		p{
			width: 7.2rem;
			color: #fff;
			font-size: 0.26rem;
			padding-left: 0.3rem;
		}
		.foot{
			height: 1.27rem;
			overflow: hidden;
			color: #fff;
		}
		.foot span{
			float: left;
			margin-left: 0.23rem;
			margin-top: 0.24rem;
		}
		#ye{
			font-size: 0.48rem;
		}
		#zong{
			font-size: 0.3rem;
		}
		#dianz,#fangda{
			width: 1.07rem;
			height: 0.46rem;
			line-height: 0.46rem;
			color: #fff;
			font-size: 0.26rem;
			border: 0.01rem solid #313131;
			border-radius: 0.05rem;
			float: right;
			margin-top: 0.27rem;
			margin-right: 0.2rem;
			padding-left: 0.24rem;
			background: url("../img/datu/img_3@2x.png") 0.9rem 0.08rem no-repeat;
			background-size: 0.3rem 0.3rem;
		}
		#fangda{
			background: url("../img/datu/img_2@2x.png") 0.9rem 0.08rem no-repeat;
			background-size: 0.3rem 0.3rem;
		}