		html{
			font-size: 100px;
		}
		body{
			height: 100%;
			background: #f0f0f0;
		}
		.outer{
			width: 7.5rem;
		}
		.head{
			width: 7.5rem;
			height: 0.88rem;
			font-size: 0.34rem;
			color: #fff;
			line-height: 0.88rem;
			background: url(../img/denglu/bg_1@2x.png) 0 0 no-repeat;
			background-size: 100%;
			position: relative;
		}
		#hui{
			width: 0.24rem;
			height: 0.41rem;
			background: url(../img/denglu/btn_3_n@2x.png) 0 0 no-repeat;
			background-size: 100%;
			position: absolute;
			left: 0.2rem;
			top: 0.23rem;
		}
		#fasong{
			float: right;
			margin-right: 0.2rem;
		}
		.con{
			padding-bottom: 0.2rem;
			background: #fff;
		}
		#ip1{
			width: 7.26rem;
			height: 2rem;
			font-size: 0.34rem;
			color: #c6c6c6;
			padding-left: 0.24rem;
			padding-top: 0.2rem;
			border: none;
		}
		li{
			width: 1.5rem;
			height: 1.5rem;
			display: inline-block;
			margin-left: 0.2rem;
		}
		#jia{
			background: url(../img/denglu/fabu1.png) 0 0 no-repeat;
			background-size: 100%;
		}
		p{
			padding-left: 0.2rem;
			font-size: 0.26rem;
			color: #dedede;
			margin-top: 0.22rem;
		}
		#ip3{
			display: none;
		}
		
		.con span{
			padding-left: 0.2rem;
			font-size: 0.26rem;
			color: #dedede;
			margin-top: 0.22rem;
		}
		
		