		html{
			font-size: 100px;
		}
		.outer{
			margin: 0 auto;
			width: 7.5rem;
			/* background: #f0f0f0; */
		}
		.top{
			text-align: center;
			overflow: hidden;
			height: 0.66rem;
			padding-top: 0.22rem;
			background: url(../img/xiangxiNR/bg_1@2x.png) 0 0 no-repeat;
			background-size:100% 100% ;
		}
		.top-left{
			width: 0.45rem;
			height: 0.41rem;
			margin-left: 0.2rem;
			float: left;
			background: url(../img/xiangxiNR/btn_1_n@2x.png) 0 0 no-repeat;
			background-size: 0.24rem 100%;
		}
		.top span{
			font-size: 0.3rem;
			color: white;
			letter-spacing: 0.02rem;
		}
		.top-right{
			width: 0.45rem;
			height: 0.41rem;
			margin-right: 0.2rem;
			float: right;
			background: url(../img/xiangxiNR/btn_3_n@2x.png) 0 0 no-repeat;
			background-size: 100% 100%;
		}
		.con{
			padding:0.33rem 0.2rem ;
		}
		.con-top{
			overflow: hidden;
			padding-bottom: 0.43rem;
		}
		.con-top img{
			float: left;
			width: 0.7rem;
			height: 0.7rem;
		}
		.con-top p{
			width: 5.5rem;
			margin:0.05rem 0 0.06rem 0.11rem;
			float: left;
			font-size: 0.26rem;
			color: #373737;
		}
		.con-top span{
			float: left;
			margin-left: 0.11rem;
			font-size: 0.18rem;
			color: #c6c6c6;
		}
		.con-center>img{
			width:7.08rem ;
			height:3.97rem ;
		}
		.con-center>p{
			margin-top: 0.3rem;
			margin-bottom: 0.3rem;
			font-size: 0.26rem;
			text-indent: 2em;
		}
		.con-center-foot{
			width: 7.5rem;
			text-align: center;
		}
		.con-center-foot img{
			width: 0.24rem;
			height: 0.25rem;
			margin-bottom: 0.15rem;
		}
		.con-center-foot p{
			font-size: 0.2rem;
			color: #9a9a9a;
		}
		.foot{
			border-top:0.2rem solid #f0f0f0;
			padding: 0.16rem 0.20rem;
		}
		.foot-top{
			overflow: hidden;
			padding-bottom: 0.26rem;
		}
		.foot-top img{
			float: left;
			width: 0.7rem;
			height: 0.7rem;
		}
		.foot-top p{
			width: 5.5rem;
			margin:0.05rem 0 0.06rem 0.11rem;
			float: left;
			font-size: 0.26rem;
			color: #373737;
		}
		.foot-top span{
			float: left;
			margin-left: 0.11rem;
			font-size: 0.18rem;
			color: #c6c6c6;
		}
		.foot-con{
			margin-left:0.83rem;
		}
		.foot-con p:nth-child(1){
			font-size: 0.26rem;
			color: #373737;
			margin-bottom: 0.2rem;
		}
		.foot-con p:nth-child(2){
			font-size: 0.26rem;
			color: #373737;
			margin-bottom: 0.2rem;
			
			background: #e5e5e5;
			padding:0.08rem 0.11rem ;
		}
		.foot-foot{
			border-top: 0.02rem solid #f0f0f0;
			width: 7.5rem;
		}
		.foot-foot input{
			padding-left: 0.28rem;
			width: 7.22rem;
			height: 0.88rem;
			background: url(../img/xiangxiNR/btn_4_n@2x.png) 0 0 no-repeat;
			background-size:100% 100% ;
			color: #acacac;
			font-size: 0.26rem;
			border: none;
		}