<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>蓝色天边涂像空间</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/datu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no">
	<script src="js/jquery.min.js"></script>
	<script src="js/datu.js"></script>
</head>
<body>
	<div class="outer">
		<div class="head">
			$camera.p.title
			<div id="hui"></div>
		</div>
		<div class="con">
			<div class="con-hidden">
			#foreach($c in $picture)
					<div class="con-img">
						<img src="$camera.p.url$c.img_name" alt="" class="tu">	
					</div>
			#end
			</div>
			<p>$camera.photodescribe</p>
		</div>
		<div class="foot">
			<span><strong id="ye">1</strong>/<em id="zong">20</em></span>
			<div id="dianz">点赞</div>
			<div id="fangda">原图</div>
		</div>
	</div>
</body>
</html>