<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>蓝色天边涂像空间</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="css/reset.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no">
	<script src="js/jquery.min.js"></script>
	<script src="js/fabu1.js"></script>
	<link rel="stylesheet" type="text/css" href="css/fabu1.css">
</head>
<body>
	<div class="outer">
		<div class="head">
			<div id="hui"></div>
			<span id="fasong">发送</span>
		</div>
		<div class="con">
		
		<form action="insertT" method="post">
			<div class="con1">
				<span class="span1">标题</span><input type="text" name="title" id="ip1" value="">
			</div>
			
			<span class="span2">内容</span><textarea name="content" id="ip2"></textarea>
			<input type="submit" value="发布"/>
		</form>
		</div>
	</div>

</body>
</html>