<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>蓝色天边涂像空间</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="css/reset.css">
	<script src="jquery/jquery.min.js"></script>
	<script src="js/tixianGL.js"></script>
	<link rel="stylesheet" type="text/css" href="css/tixianGL.css">
</head>
<body>
	<div class="outer">
		<div class="top">
			<div class="top-left"></div>
			<span>提现攻略</span>
			<div class="top-right"></div>
		</div>
		<div class="con">
			<div class="con-top">
				<h3>公众号协议</h3>
				<p>为了保证发布设计或摄影的需求方和接受需求的会员方利益，在此制定以下协议，请双方认真阅读后在进行定夺。</p>
			</div>
			<div class="con1">
				<p>一、发布需求方协议</p>
				<p>1.需求方应发布真实有效的项目需求，并详细写明需求内容。</p>
				<p>2.发布需求后应在5个工作日内将需求 奖金汇入公众微信号制定账户，并在汇款成功后48小时后开始进行工作</p>
				<p>3.项目完成后应及时在发布信息内告知项目完成，通知公众微信号将奖金转付给完成该项目的会员。</p>
				<p>4.如会员完成项目效果未达到需求方要求，应及时声明情况重新选择其他会员完成该项目，并声明永不采用未选中的完成效果，否则双倍赔偿。</p>
			</div>
			<div class="con1">
				<p>二、接受需求会员方协议</p>
				<p>1.接受需求会员方应认真完成需求方发布的工作内容，并在需求方指定时间内交付任务。</p>
				<p>2.会员方完成工作后应及时提醒需求方验收工作结果。</p>
				<p>3.需求方验收工作结束后，会员方应及时在发布信息内通知公众微信号管理方转付奖金。</p>
				<p>4.如果会员方未能按时保质保量的完成需求方工作，则不应接收任何奖金。</p>
				<p>5.如会员方所完成的工作与需求方验收结果有争议，应及时说明情况，与需求方协商解决。</p>
			</div>
		</div>
		<br/>
		<a href="/bluesky/shouye.vm">回首页</a>
	</div>


	
</body>
</html>